.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

  .avatar {
    vertical-align: top-left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }